#addr {
	BORDER-RIGHT: #993300 1px solid; BORDER-TOP: #993300 1px solid; FONT-SIZE: 12px; Z-INDEX: 99999; BORDER-LEFT: #993300 1px solid; WIDTH: 300px; BORDER-BOTTOM: #993300 1px solid; POSITION: absolute; BACKGROUND-COLOR: #ffffff
}
#addr SPAN {
	DISPLAY: block; BACKGROUND: url(addrbg.gif) no-repeat left top; WIDTH: 300px; TEXT-INDENT: 30px; LINE-HEIGHT: 31px; HEIGHT: 31px
}
#addr SPAN A {
	PADDING-LEFT: 35px; CURSOR: pointer; COLOR: #990000
}
#addr UL {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#addr UL LI {
	FLOAT: left; WIDTH: 50px; CURSOR: pointer; LINE-HEIGHT: 25px; HEIGHT: 25px; TEXT-ALIGN: center
}
.addrSelet {
	BACKGROUND-IMAGE: url(addrSelect.gif); WIDTH: 120px; BORDER-TOP-STYLE: none; TEXT-INDENT: 3px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 20px; TEXT-ALIGN: left; BORDER-BOTTOM-STYLE: none
}
