<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shuhao.clean.apps.validate.dao.CheckRuleUtilsDao">
	
	<!-- 获取校验规则库 -->
	<select id="getAllCheckRules" resultType="com.shuhao.clean.apps.validate.entity.CheckRule" >
		select a.chk_rule_cd      as chk_rule_code,
		       a.chk_rule_name,
		       a.chk_rule_desc,
		       a.chk_type_cd      as chk_type_code,
		       a.chk_method_cd    as chk_method_code,
		       a.rule_type_flag,
		       a.chk_formula,
		       a.chk_formula_desc,
		       a.chk_priority,
		       a.status_cd        as status_code,
		       a.create_user_id,
		       a.create_time,
		       a.update_user_id,
		       a.update_time,
		       a.display_order,
		       a.chk_failure_tip
		  from upp_chk_rule a  
		  order by a.display_order
	</select>
	
	<!-- 获取校验规则sql -->
	<sql id="getChkRuleSql">
	  select t1.chk_rule_cd as chk_rule_code,
	        t1.chk_rule_name,
	        t1.chk_rule_desc,
	        t1.chk_type_cd as chk_type_code,
	        t1.chk_method_cd as chk_method_code,
	        t1.rule_type_flag,
	        t1.chk_formula,
	        t1.chk_formula_desc,
	        t1.chk_priority,
	        t1.chk_failure_tip,
	        t.chk_action,
	        t1.display_order
	   from upp_chk_metadata_rule t, upp_chk_rule t1
	  where 1 = 1
	    and t.chk_rule_cd = t1.chk_rule_cd
	    and t1.rule_type_flag = '0'
	    and t.metadata_id = #{metaId}
	 union all
	 select t1.chk_rule_cd,
	        t1.chk_rule_name,
	        t1.chk_rule_desc,
	        t1.chk_type_cd,
	        t1.chk_method_cd,
	        t1.rule_type_flag,
	        t.chk_formula,
	        t.chk_formula_desc,
	        t.chk_priority,
	        t.chk_failure_tip,
	        t.chk_action,
	        t1.display_order
	   from upp_chk_metadata_rule t, upp_chk_rule t1
	  where 1 = 1
	    and t.chk_rule_cd = t1.chk_rule_cd
	    and t1.rule_type_flag = '1'
	    and t.metadata_id = #{metaId}
	  order by display_order asc
	</sql>
	
	<!-- 按元数据ID查询规则  -->
	<select id="getCheckRuleByMetaId" resultType="com.shuhao.clean.apps.validate.entity.CheckRule" >
		select r.* from (
	 	<include refid="getChkRuleSql"/>
	 	) r
	 	where r.chk_action = '0'
	</select>
	
	<!-- 按属性获取校验规则 -->
	<select id="getCheckRuleByProps" resultType="com.shuhao.clean.apps.validate.entity.CheckRule" parameterType="map">
	    select r.* from (
	 	<include refid="getChkRuleSql"/>
	 	) r
	 	where 1=1 
	 	<if test="chk_action != null and chk_action != ''">
	 		and r.chk_action = #{chk_action}
	 	</if>
	 	<if test="chk_type_cd != null and chk_type_cd != ''">
	   	    and r.chk_type_code = #{chk_type_cd}
	    </if>
	</select>
	
	<!-- 按元数据列表查询元数据校验规则  chk_action = 0 通用-->
	<select id="getCheckRuleByMetaIds" resultType="com.shuhao.clean.apps.validate.entity.CheckRule" parameterType="string">
	 select r.* from(
		 select t.metadata_id,
		 		t1.chk_rule_cd as chk_rule_code,
		        t1.chk_rule_name,
		        t1.chk_rule_desc,
		        t1.chk_type_cd as chk_type_code,
		        t1.chk_method_cd as chk_method_code,
		        t1.rule_type_flag,
		        t1.chk_formula,
		        t1.chk_formula_desc,
		        t1.chk_priority,
		        t1.chk_failure_tip,
		        t.chk_action,
		        t1.display_order
		   from upp_chk_metadata_rule t, upp_chk_rule t1
		  where 1 = 1
		    and t.chk_rule_cd = t1.chk_rule_cd
		    and t1.rule_type_flag = '0'
		    and t.metadata_id in ('${metaIds}')
		 union all
		 select t.metadata_id,
		 		t1.chk_rule_cd,
		        t1.chk_rule_name,
		        t1.chk_rule_desc,
		        t1.chk_type_cd,
		        t1.chk_method_cd,
		        t1.rule_type_flag,
		        t.chk_formula,
		        t.chk_formula_desc,
		        t.chk_priority,
		        t.chk_failure_tip,
		        t.chk_action,
		        t1.display_order
		   from upp_chk_metadata_rule t, upp_chk_rule t1
		  where 1 = 1
		    and t.chk_rule_cd = t1.chk_rule_cd
		    and t1.rule_type_flag = '1'
		    and t.metadata_id  in ('${metaIds}')
		  order by metadata_id,display_order desc
		  ) r 
		  where r.chk_action = '0'
	</select>
</mapper>