<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shuhao.clean.apps.base.dao.SelectorDao">
	
	<!-- 查询业务条线 -->
	<select id="queryBusiLineList" parameterType="map" resultType="hashmap">
		select * from dmd_busi_line
	</select>
	
	<!-- 查询职位类型 -->
	<select id="queryJobTitle" parameterType="map" resultType="hashmap">
		select * from dmd_job_title
	</select>
	
	<!-- 查询岗位-->
	<select id="queryPostType" parameterType="map" resultType="hashmap">
		select * from dmd_post_type
	</select>
	
	<!-- 查询技术职称 -->
	<select id="queryTechTitle" parameterType="map" resultType="hashmap">
		select * from dmd_technical_title
	</select>
	
	<!-- 查询性别 -->
	<select id="queryGender" parameterType="map" resultType="hashmap">
		select * from dmd_gender
	</select>
	
	<!-- 查询民族 -->
	<select id="queryEthnicity" parameterType="map" resultType="hashmap">
		select * from dmd_ethnicity
	</select>
	
	<!-- 查询学历 教育背景 -->
	<select id="queryEduBack" parameterType="map" resultType="hashmap">
		select * from dmd_file_edu_back
	</select>
	
	<!-- 查询用户状态 -->
	<select id="queryMgrStatus" parameterType="map" resultType="hashmap">
		select * from dmd_mgr_status
	</select>
	
	<!-- 查询序列 -->
	<select id="queryCustJobSeq" parameterType="map" resultType="hashmap">
		select * from dmd_cust_job_seq
	</select>
	
	<!-- 查询月份 -->
	<select id="listMonth" resultType="map">
		select month_id,substr(month_id,1,4)||'年'||substr(month_id,5)||'月' month_name  from dmd_month order by month_id desc
	</select>
	<!-- 查询指标体系树 -->
	<select id="queryMeasureTree" parameterType="map" resultType="hashmap">
		select * from dmd_measure_tree
	</select>
	
	<!-- 查询机构类型-->
	<select id="queryBankOrgType" parameterType="map" resultType="hashmap">
		select * from dmd_bank_org_type
	</select>
	
	<!-- 客户经理列表 -->
	<sql id="getCustMgrsSql">
		select a.cust_mgr_id,a.cust_mgr_name from dmd_cust_mgr a,dmd_bank_relation d
		where 1=1
		and a.bank_org_id = d.bank_org_id and d.parent_bank_org_id=#{bankOrgId}
		and substr(a.cust_mgr_id,1,2) !='SE'
		<choose>
			<when test="isZh == true ">
				and a.cust_mgr_name like '${custMgrID}'
			</when>
			<otherwise>
				and a.cust_mgr_id like '${custMgrID}'
			</otherwise>
		</choose>
	</sql>
	<!-- 查询客户经理 -->
	<select id="getCustMgrs" parameterType="map" resultType="map">
		<include refid="common.pagingHead"/>
		<include refid="getCustMgrsSql"/>
		<include refid="common.pagingEnd"/>
	</select>
	
	<select id="getCustMgrsCount" parameterType="map" resultType="int">
		<include refid="common.totalCountHead"/>
		<include refid="getCustMgrsSql"/>
		<include refid="common.totalCountEnd"/>
	</select>
	
	<!-- 查询数据库类型-->
	<select id="queryUppDatabaseType" parameterType="map" resultType="hashmap">
		select database_type_id,database_type_name 
		from upp_database_type 
		order by database_type_id
	</select>
	
	<!-- 元数据-->
	<select id="metadataList" parameterType="map" resultType="UppMetadata">
		select * from upp_metadata t where t.parent_metadata_id=#{metadataId} order by t.display_order
	</select>
	
	<!-- 元数据-->
	<select id="getBlmbList" parameterType="string" resultType="map">
		select * from upp_template t where t.prt_tmpl_id=#{tmpl_id} order by t.display_order
	</select>
	
	<!-- 查询元数据按钮功能-->
	<select id="queryUppButtonFunction" parameterType="map" resultType="hashmap">
		select button_func_cd,
		button_func_name||' ['||button_func_desc||']' as button_func_name
		from upp_button_function 
		order by button_func_cd
	</select>
	
	<!-- 查询功能按钮列表 -->
	<select id="getUppButtonFunction" parameterType="map" resultType="hashmap">
		select button_func_cd,
		button_func_name
		from upp_button_function 
		order by button_func_cd
	</select>
	
	<!-- 查询维度-->
	<select id="queryUppDimSource" parameterType="map" resultType="hashmap">
		select dim_cd,'['||dim_cd||']'||dim_name  dim_name
		from upp_dim_source
		where 1=1
		<if test="is_tree != null and is_tree != ''">
			and is_tree = #{is_tree}
		</if>
		order by dim_cd
	</select>


	<select id="listBankOrganization" parameterType="map" resultType="com.shuhao.clean.apps.sys.entity.SysOrgInfo">
		select bank_org_id,bank_org_name,parent_bank_org_id from  dmd_bank_inter_org
		order by bank_org_id
	</select>


	
</mapper>