<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 维表管理 -->
<mapper namespace="com.shuhao.clean.apps.sys.dao.DimTableDAO">
	 
	<sql id="listDimInfoPageSql">
		select * from sys_dim_info where 1=1
		<if test="dim_code != null">
			and dim_code like '%'||#{dim_code}||'%'
		</if>
		<if test="table_name != null">
			and table_name like '%'||#{table_name}||'%'
		</if>
	</sql>
	
	<select id="listDimInfoPage" parameterType="map" resultType="map">
		<include refid="common.pagingHead"/>
		<include refid="listDimInfoPageSql"/>
		<include refid="common.pagingEnd"/>
	</select>
	
	<select id="listDimInfoPageCount" parameterType="map" resultType="int">
		<include refid="common.totalCountHead"/>
		<include refid="listDimInfoPageSql"/>
		<include refid="common.totalCountEnd"/>
	</select>
	
	<select id="findDimInfo" parameterType="map" resultType="map">
		select * from sys_dim_info where dim_code = #{dim_code}
	</select>
	
	<insert id="addDimInfo" parameterType="DimTable">
		insert into sys_dim_info (dim_code,table_name,dim_name,pk_name,fields_name)
		values (#{dim_code},#{table_name},#{dim_name},#{pk_name},#{fields_name})
	</insert>
	
	<update id="updateDimInfo" parameterType="DimTable">
		update sys_dim_info set table_name=#{table_name},
		dim_name = #{dim_name},
		pk_name = #{pk_name},
		fields_name = #{fields_name}
		where dim_code = #{dim_code}
	</update>
	
	<delete id="deleteDimInfo" parameterType="string">
		delete from sys_dim_info where dim_code = #{dim_code}
	</delete>
	
	<!-- 维表数据SQL -->
	<sql id="dimTableDataSql">
		select ${col_names} 
		from  ${table_name}
		where 1=1
	</sql>
		<!-- 维表数据SQL -->
	<sql id="findDimDataByCondition">
		select * 
		from  ${table_name}
		where 1=1
		${pk_condition}
	</sql>
	<!-- 获取表数据 -->
	<select id="queryDimTableData" parameterType="map" resultType="map"> 
		<include refid="common.pagingHead"/>
		<include refid="dimTableDataSql"/>
		<include refid="common.pagingEnd"/>
	</select>
	<!-- 获取指定条件的维度明细信息 -->
	<select id="findDimTable" parameterType="map" resultType="map">
	   <include refid="common.pagingHead"/>
		<include refid="findDimDataByCondition"/>
		<include refid="common.pagingEnd"/>
	</select>
	
	<!-- 获取表数据 总数-->
	<select id="queryDimTableDataCount" parameterType="map" resultType="int"> 
		<include refid="common.totalCountHead"/>
		<include refid="dimTableDataSql"/>
		<include refid="common.totalCountEnd"/>
	</select>
	
	<!-- 新增表数据 -->
	<insert id="addDimTableData" parameterType="map">
		insert into 
		${table_name} 
		(${col_name})
		values 
		(${col_value})
	</insert>
	
	<!-- 修改表数据 -->
	<update id="editDimTableData" parameterType="map">
		update  
		${table_name} 
		set 
		${col_name_value}
		where 1=1
		${pk_condition}
	</update>
	
	<!-- 删除表数据 -->
	<delete id="deleteDimTableData" parameterType="map">
		delete 
		from   
		${table_name} 
		where 1=1
		${pk_condition}
	</delete>
	
	
</mapper>