<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shuhao.clean.apps.sys.dao.ResourceDao">
	
	<!-- 获取所有菜单 -->
	<select id="getAllResource" resultType="SysResourceInfo">
		select a.* from sys_resource_info a order by a.resource_id
	</select>
	
	<!-- 通过角色获取对应的菜单 -->
	<select id="getResourceByRoleId" parameterType="string" resultType="SysResourceInfo">
	<!-- 
		select a.* 
		from sys_resource_info a,opm_sys_role_gra b 
		where a.resource_id = b.resource_id
			  and b.role_id = #{roleId}
	 -->  		  
		select a.* 
			from sys_resource_info a,sys_role_resource_rela b,sys_role_info c
		where a.resource_id = b.resource_id
        	and b.role_id = b.role_id
			and c.role_id = #{roleId}
	</select>
	
	<!-- 得到登陆用户的菜单 -->
	<!-- 20131023修改  合并上用户特殊权限机构中的菜单资源 -->
	<!-- <select id="getUserResource" parameterType="SysUserInfo" resultType="SysResourceInfo">
	select a.*
	  from sys_resource_info a
	  where resource_id in (
	    select 
	      d.resource_id
		    from sys_user_info b,sys_user_role_rela c,sys_role_resource_rela d
	    where b.user_id = #{user_id}
	      and b.user_id = c.user_id
	      and c.role_id = d.role_id
	  )
	  order by a.resource_id
	</select> -->
	<!-- 修改 by lzc -->
	<select id="getUserResource" parameterType="SysUserInfo" resultType="SysResourceInfo">
	select a.*
	  from sys_resource_info a
	  where resource_id in (
	    select 
	      d.resource_id
		    from sys_user_info b,opm_sys_user_role c,sys_role_resource_rela d
	    where b.user_id = #{user_id}
	      and b.user_id = c.user_id
	      and c.role_uuid = d.role_id
	  )
	  order by a.resource_id
	</select>
	
	<!-- 得到登陆用户管理的菜单[不包含特殊机构] -->
	<select id="getUserNomalResource" parameterType="SysUserInfo" resultType="SysResourceInfo">
	select a.*
	from sys_resource_info a,sys_user_role_rela b,sys_role_resource_rela c
	where b.user_id = #{user_id}
		and b.role_id = c.role_id
		and c.resource_id = a.resource_id
	order by a.resource_id
	</select>
	
	<!-- 用户是否拥有角色 -->
	<select id="userHasRole" parameterType="map" resultType="boolean">
		select count(*)
		    from sys_user_role_rela a,sys_role_info b
		   where a.role_id = b.role_id
		      and b.role_id = #{role_id}
		      and a.user_id = #{user_id}
	</select>
	
	<!-- 添加菜单 -->
	<insert id="addResource" parameterType="SysResourceInfo">
			insert into sys_resource_info(
			     resource_id,
			      resource_name,
			       parent_resource_id, 
			       resource_type,
			        handler,
			       icon_name)


		
			values(
			#{resource_id},
			#{resource_name},
			#{parent_resource_id},
			#{resource_type},
			#{handler},
			#{icon_name}
		)
	</insert>
	
	<!-- 删除菜单 -->
	<delete id="removeResource" parameterType="SysResourceInfo">
		delete from sys_resource_info where resource_id = #{resource_id}
	</delete>
	
	<!-- 删除菜单与角色对象的关系 -->
	<delete id="removeResourceRoleRela" parameterType="SysResourceInfo">
		delete from sys_role_resource_rela where resource_id = #{resource_id}
	</delete>
	
	<!-- 修改菜单信息 -->
	<update id="updateResource" parameterType="SysResourceInfo">
		update sys_resource_info set 
				resource_name = #{resource_name},
				resource_type = #{resource_type},
				handler = #{handler},
				icon_name = #{icon_name}
		where resource_id = #{resource_id}
	</update>
	<!-- 根据菜单ID查询菜单对象 -->
	<select id="getResourceById" parameterType="string" resultType="SysResourceInfo">
		select * from sys_resource_info where resource_id = #{resourceID}
	</select>
</mapper>