<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 业务类型期限管理 -->
<mapper namespace="com.shuhao.clean.apps.meta.dao.TemplManagerDao">
	 
	 <!-- 查询模板-->
	<select id="getTempls" parameterType="map" resultType="map">
		select 'templ' type,a.* from upp_rpt_tmpl a
		where 1=1 
		<if test="tmpl_id !=null and tmpl_id !=''">
			and a.tmpl_id = #{tmpl_id}
		</if>
	</select>
	 <!-- 查询字段-->
	<select id="getTemplCols" parameterType="map" resultType="map">
		select 'col' type, a.* from  upp_rpt_tmpl_col a
		where 1=1 
		<if test="tmpl_id !=null and tmpl_id !=''">
			and a.tmpl_id = #{tmpl_id} 
		</if>
		<if test="prt_col_name !=null and prt_col_name !=''">
			and a.prt_col_name = #{prt_col_name}
		</if>
		<if test="col_name !=null and col_name !=''">
			and a.col_name = #{col_name}
		</if>
		order by display_order
	</select>
	
	<insert id="addTmpl"  parameterType="map" >
		insert into upp_rpt_tmpl(tmpl_id,tmpl_desc,layout_cd,is_display_tree_col,sql_expr)
		values (
			#{tmpl_id,jdbcType=VARCHAR},
			#{tmpl_desc,jdbcType=VARCHAR},
			#{layout_cd,jdbcType=VARCHAR},
			#{is_display_tree_col,jdbcType=VARCHAR},
			#{sql_expr,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="addTmplCol"  parameterType="map" >
		insert into upp_rpt_tmpl_col(
		tmpl_id,col_name,prt_col_name,col_desc,data_type_cd,
		is_query_cond,dim_cd,display_order,col_type_cd )
		values (
			#{tmpl_id,,jdbcType=VARCHAR},
			#{col_name,jdbcType=VARCHAR},
			#{prt_col_name,jdbcType=VARCHAR},
			#{col_desc,jdbcType=VARCHAR},
			#{data_type_cd,jdbcType=VARCHAR},
			#{is_query_cond,jdbcType=VARCHAR},
			#{dim_cd,jdbcType=VARCHAR},
			#{display_order,jdbcType=VARCHAR},
			#{col_type_cd,jdbcType=VARCHAR}
		)
	</insert>
	
	<delete id="deleteTempl"  parameterType="map" >
		delete from upp_rpt_tmpl where tmpl_id = #{tmpl_id}
	</delete>
	
	<delete id="deleteTemplCol"  parameterType="map" >
		delete from upp_rpt_tmpl_col where tmpl_id = #{tmpl_id} and col_name = #{col_name}
	</delete>
	<update id="editTmpl"  parameterType="map" >
		update upp_rpt_tmpl set 
		 tmpl_desc = #{tmpl_desc,jdbcType=VARCHAR},
		 layout_cd = #{layout_cd,jdbcType=VARCHAR},
		 is_display_tree_col = #{is_display_tree_col,jdbcType=VARCHAR},
		 sql_expr = #{sql_expr,jdbcType=VARCHAR}
		 where tmpl_id = #{tmpl_id} 
	</update>
	<update id="editTmplCol"  parameterType="map" >
		update  upp_rpt_tmpl_col set
		col_desc = #{col_desc,jdbcType=VARCHAR},
		data_type_cd = #{data_type_cd,jdbcType=VARCHAR},
		is_query_cond = #{is_query_cond,jdbcType=VARCHAR},
		dim_cd = #{dim_cd,jdbcType=VARCHAR},
		display_order = #{display_order,jdbcType=VARCHAR},
		col_type_cd = #{col_type_cd,jdbcType=VARCHAR}
		where tmpl_id = #{tmpl_id} and col_name = #{col_name}
	</update>
	<update id="updateDisOrder"  parameterType="map" >
		update  upp_rpt_tmpl_col set
		display_order = #{display_order,jdbcType=VARCHAR}
		where tmpl_id = #{tmpl_id} and col_name = #{col_name}
	</update>
</mapper>