<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd"
        >
    <!-- ehcache manager 工厂类  -->
	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation" value="classpath:cache/ehcache.xml"></property>
	</bean>
	
	<bean id="cacheEventListenerFactory" class="net.sf.ehcache.distribution.jgroups.JGroupsCacheReplicatorFactory">
	</bean>
	
	<bean id="cacheEventListener" class="net.sf.ehcache.event.CacheEventListener" factory-bean="cacheEventListenerFactory" factory-method="createCacheEventListener" scope="singleton">
		<constructor-arg>
			<props>
				<prop key="replicateAsynchronously">true</prop>
				<prop key="replicatePuts">true</prop>
				<prop key="replicateUpdates">true</prop>
				<prop key="replicateUpdatesViaCopy=">false</prop>
				<prop key="replicateRemovals">true</prop>
				<prop key="asynchronousReplicationIntervalMillis">1000</prop>
			</props>
		</constructor-arg>
	</bean>
	
	<!-- cache 对象工厂 -->
	<bean id="cache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<property name="cacheManager" ref="cacheManager" />
		<property name="overflowToDisk" value="false"></property>
		<!-- 
		<property name="cacheEventListeners"  ref="cacheEventListener"></property>
		 -->
	</bean>
	
	<!-- 校验规则库缓存
	<bean id="ruleCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<property name="cacheManager" ref="cacheManager" />
		<property name="cacheName" value="ruleCache"></property>
		<property name="overflowToDisk" value="false"></property>
	</bean>
	 -->
	 
	<!-- 规则缓存管理器 
	<bean id="validRulesManager" class="com.shuhao.clean.apps.validate.vrules.support.ValidRulesManager" factory-method="getInstance" lazy-init="false">
		<constructor-arg ref="ruleCache"></constructor-arg>
	</bean>
	-->
	
	<!-- 缓存service抽象bean
	<bean id="baseCacheService" class="com.shuhao.clean.base.BaseCacheService" abstract="true" parent="baseService">
		<property name="cache" ref="cache"></property>
	</bean>
	
	<bean id="dataStore" class=" com.shuhao.clean.apps.base.cache.DataStore" parent="baseCacheService">
		<property name="storeDao" ref="storeDao"></property>
	</bean>
	 -->
</beans>