<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
         http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	
	<!-- 启动扫描所有的controller  把标记了@Controller注解的类转换为bean -->
	<context:component-scan base-package="com.shuhao.clean" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>
	
	<!-- 默认的注解映射的支持 -->
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<!-- 将StringHttpMessageConverter的默认编码设为UTF-8 -->
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
		    	<constructor-arg value="UTF-8" />
			</bean>
  		</mvc:message-converters>
	</mvc:annotation-driven>
	
	<!-- jsp页面解析器，当Controller返回XXX字符串时，先通过拦截器，然后该类就会在/WEB-INF/views/目录下，查找XXX.jsp文件  -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
        <property name="prefix" value="/WEB-INF/view/"></property>  
        <property name="suffix" value=".jsp"></property>  
    </bean>
    
    <!-- 映射到Controller类 
    <bean id="handlerMapping" class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"></bean>
    -->
    
    <!-- 处理在类方法上的 @RequestMapping注解 ;线程安全的访问session:synchronizeOnSession 
	-->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter" >
		<property name="synchronizeOnSession" value="true" />
	</bean>
   
    <!-- 对静态资源文件的访问 不支持访问WEB-INF目录 
    -->
    <mvc:default-servlet-handler />  
    
    <!-- 配置静态资源，直接映射到对应的文件夹，不被DispatcherServlet处理，3.04新增功能，需要重新设置spring-mvc-3.0.xsd 
     <mvc:resources mapping="/images/**" location="/images/" cache-period="31556926"/>  
     <mvc:resources mapping="/css/**" location="/css/" cache-period="31556926"/> 
     <mvc:resources mapping="/js/**" location="/js/" cache-period="31556926"/>  
    --> 
    
    <!-- 定义无需Controller的url<->view直接映射   
	<mvc:view-controller path="/" view-name="login"/>
	-->
     
    <!-- 将Controller抛出的异常转到特定View, 保持SiteMesh的装饰效果 -->
	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">  
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.Throwable">error/500</prop>
            </props>  
		</property>  
    </bean> 
    
    <!-- 流程拦截器 -->
    <mvc:interceptors>
    	<!-- 用户选择模板后初始化流程信息 -->
    	<mvc:interceptor>
	        <mvc:mapping path="/pageManager/createMetaPage/*" />
	        <bean class="com.shuhao.clean.apps.flow.interceptor.InitFlowInterceptor"></bean>
	  	</mvc:interceptor>
	  	<!-- 用于拦截用户删除(退回、撤回的)数据 -->
	  	<mvc:interceptor>
	        <mvc:mapping path="/pageManager/executeMetaData" />
	        <bean class="com.shuhao.clean.apps.flow.interceptor.WorkFlowInterceptor"></bean>
	  	</mvc:interceptor>
	  	<!-- 审批提交时执行校验 -->
	  	<mvc:interceptor>
	        <mvc:mapping path="/workflow/doApprove" />
	        <bean class="com.shuhao.clean.apps.flow.interceptor.WfApproveInterceptor"></bean>
	  	</mvc:interceptor>
	</mvc:interceptors>
    
    
    <!-- 文件上传配置
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    	<property name="defaultEncoding" value="utf-8"/>
    </bean>
     -->
</beans>