<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.shuhao.clean.apps.meta.dao.AlterTableDao">
	
	<!-- 根据目标类型查询允许的上级类型 -->
	<select id="queryAllowParentList" resultType="string">
		select 
			a.prt_md_cate_cd
		from upp_metadata_rela_def a
		where a.md_cate_cd in
		<foreach collection="array" item="md_cate_cd" open="(" separator="," close=")">
			#{md_cate_cd}
		</foreach>
	</select>




	<select id="getColumnInfo" parameterType="com.shuhao.clean.apps.meta.entity.DbColumn" resultType="map">
			select case when data_type = 'VARCHAR' or data_type = 'CHAR' then '01'
					when data_type = 'DECIMAL' then '02'
					when data_type = 'DATETIME' then '03'
					else ''
					end as data_type_cd,
				character_octet_length as data_length
			from INFORMATION_SCHEMA.COLUMNS
			where table_name=#{table_name}
			and column_name=#{column_name}
	</select>
</mapper>