<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.shuhao.clean.apps.meta.dao.BizTypeDao">
	
	<insert id="addMetaType" parameterType="BizType">
		insert into upp_col_biz_type
		(
			col_biz_type_cd,
			col_biz_type_desc,
			upp_rela_id,
			is_public,
			display_order
		)
		values(
			#{col_biz_type_cd,jdbcType=VARCHAR},
			#{col_biz_type_desc,jdbcType=VARCHAR},
			#{upp_rela_id,jdbcType=VARCHAR},
			#{is_public,jdbcType=VARCHAR},
			#{display_order,jdbcType=VARCHAR}
		)
	</insert>
	

	<delete id="deleteMetaType" parameterType="BizType">
		 delete from upp_col_biz_type t
		 where t.col_biz_type_cd=#{col_biz_type_cd} and t.upp_rela_id = #{upp_rela_id}
	</delete>
	
	<update id="updateBizType" parameterType="BizType">
		update  upp_col_biz_type
		set 	col_biz_type_cd = #{col_biz_type_cd,jdbcType=VARCHAR},
				col_biz_type_desc = #{col_biz_type_desc,jdbcType=VARCHAR},
				upp_rela_id = #{upp_rela_id,jdbcType=VARCHAR},
				is_public = #{is_public,jdbcType=VARCHAR},
				display_order = #{display_order,jdbcType=VARCHAR}
		where col_biz_type_cd=#{old_col_biz_type_cd} and upp_rela_id = #{old_upp_rela_id}
	</update>
	 
	<!-- 查询未配置的校验规则 -->
	<select id="listMetadataBizTypePage" parameterType="map" resultType="BizType">
		 select * from upp_col_biz_type 
		 where upp_rela_id in('${upp_rela_id}','public_table')
		 order by display_order
	</select>
</mapper>