<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.shuhao.clean.apps.meta.dao.DatabaseDao">
	
	<!-- 添加数据库对象 -->
	<insert id="addDatabase" parameterType="UppDatabase">
		insert into upp_database (
			database_id,
			database_type_cd,
			database_name,
			database_desc,
			server_addr,
			connect_str,
			char_encoding,
			access_port,
			test_user_name,
			test_user_password
		) values (
			#{database_id},
			#{database_type_cd},
			#{database_name},
			#{database_desc},
			#{server_addr},
			#{connect_str},
			#{char_encoding},
			#{access_port},
			#{test_user_name},
			#{test_user_password}
		)
	</insert>
	
	
	<!-- 根据id获取数据库对象 -->
	<select id="getDatabaseById" parameterType="string" resultType="UppDatabase">
		select 
			a.database_id,
			a.database_type_cd,
			a.database_name,
			a.database_desc,
			a.server_addr,
			a.connect_str,
			a.access_port,
			a.test_user_name,
			a.test_user_password
		from upp_database a
		where a.database_id = #{database_id}
	</select>
	
	<!-- 保存数据库对象 -->
	<update id="saveDatabase" parameterType="UppDatabase">
		update 
			upp_database a
		set
			a.database_type_cd = #{database_type_cd},
			a.database_name = #{database_name},
			a.database_desc = #{database_desc},
			a.server_addr = #{server_addr},
			a.connect_str = #{connect_str},
			a.char_encoding = #{char_encoding},
			a.access_port = #{access_port},
			a.test_user_name = #{test_user_name jdbcType=VARCHAR},
			a.test_user_password = #{test_user_password jdbcType=VARCHAR}
		where a.database_id = #{database_id}
	</update>
	
	<!-- 删除数据库对象 -->
	<delete id="deleteDatabase" parameterType="string">
		<!-- delete from upp_database a where a.database_id = #{database_id} -->
		delete from upp_database  where database_id = #{database_id}
	</delete>
</mapper>