<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.shuhao.clean.apps.meta.dao.UppDicRelaDao">
	
	<!-- 添加元数据映射关系 -->
	<insert id="addRela" parameterType="UppDicRela">
		insert into upp_dic_fn_rela (
			metadata_id,
			db_obj_id
		) values (
			#{metadata_id},
			#{db_obj_id}
		)
	</insert>
	
	
	<!-- 根据元数据id删除映射记录 -->
	<delete id="deleteRela" parameterType="string">
		delete from upp_dic_fn_rela  where metadata_id = #{metadata_id}
	</delete>
	
	
	<!-- 根据数据字典id删除映射关系 -->
	<delete id="deleteRelaByDic" parameterType="string">
		delete from upp_dic_fn_rela where db_obj_id = #{db_id}
	</delete>
	
	<!-- 根据上级字典元数据id删除关系表记录 -->
	<delete id="deleteRelaByParentDbId" parameterType="string">
		delete a from upp_dic_fn_rela a where exists (
			select 1 from upp_metadata b 
			where a.metadata_id = b.metadata_id
				and b.prt_metadata_id = #{parent_db_id}
		)
	</delete>
	
</mapper>