<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.shuhao.clean.apps.meta.dao.ExcelSheetDao">
	
	<resultMap id="sheetMap" type="UppExcelSheet">
		<id property="sheet_id" column="sheet_id" />
		<result property="sheet_name" column="sheet_name" />
		<result property="start_row" column="start_row" />
		<result property="display_order" column="display_order" />
		<association property="table" resultMap="tableMap">
			
		</association>
	</resultMap>
	
	<resultMap id="tableMap" type="UppTable">
		<id property="table_id" column="table_id" />
		<result property="table_name" column="table_name" />
		<result property="table_desc" column="table_desc" />
	</resultMap>
	
	<!-- 添加Sheet页对象 -->
	<insert id="addSheet" parameterType="UppExcelSheet">
		insert into upp_xls_sheet (
			sheet_id,
			sheet_name,
			start_row,
			display_order
		) values (
			#{sheet_id},
			#{sheet_name},
			#{start_row},
			#{display_order}
		)
	</insert>
	
	
	<!-- 根据id获取sheet页对象 -->
	<select id="getSheetById" parameterType="string" resultMap="sheetMap">
		select 
			a.sheet_id,
			a.sheet_name,
			a.start_row,
			a.display_order,
			c.table_id,
			c.table_name,
			c.table_desc
		from upp_xls_sheet a 
			left join upp_dic_fn_rela b
				on a.sheet_id = b.metadata_id
			left join upp_table c
				on b.db_obj_id = c.table_id
		where a.sheet_id = #{sheet_id}
	</select>
	
	
	<!-- 保存sheet页对象 -->
	<update id="saveSheet" parameterType="UppExcelSheet">
		update 
			upp_xls_sheet a
		set
			a.sheet_name = #{sheet_name},
			a.start_row = #{start_row},
			a.display_order = #{display_order}
		where a.sheet_id = #{sheet_id}
	</update>
	
	<!-- 删除sheet页对象 -->
	<delete id="deleteSheet" parameterType="string">
		delete from upp_xls_sheet where sheet_id = #{sheet_id}
	</delete>
	
	<!-- 根据Excel id查询sheet页列表 -->
	<select id="querySheetByExcelId" parameterType="string" resultType="UppExcelSheet">
		select 
			a.sheet_id,
			a.sheet_name,
			a.start_row,
			a.display_order
		from upp_xls_sheet a, upp_metadata b
		where a.sheet_id = b.metadata_id
			and b.prt_metadata_id = #{excel_id}
		order by a.display_order
	</select>
	
</mapper>