<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuhao.clean.apps.meta.dao.PageManagerDao">
	<!--获取模板结构树 -->
	<select id="getTemplateTree" parameterType="map" resultType="map">
		select t.tmpl_id,t.template_name from upp_template t where t.parent_template_id  = #{nodeId} and t.template_type_code = '02' and t.status_code = '02' 
	</select>
	
	<select id="getTemplateById" parameterType="map" resultType="map">
		select * from upp_template where tmpl_id = #{tmpl_id}
	</select>
	<!-- 查询子模版 -->
	<select id="getSubTemplateById" parameterType="map" resultType="map">
		select t.tmpl_id, t.template_name, t.rela_metadata_names
		from upp_template t
		where t.prt_tmpl_id  = #{tmpl_id}
		      and t.status_cd = '02' 
	</select>
	
	<select id="getTabNameByTempId"  parameterType="map" resultType="string">
		select a.table_name
		from upp_table a
		left join upp_dic_fn_rela b on a.table_id=b.db_obj_id
		left join upp_tmpl_page c on c.page_element_id = b.metadata_id and c.is_curr_version='Y'
		 where c.tmpl_id = #{tmpl_id}
	</select>
	
	<!-- 获取纬表的查询sql -->
	<select id="getDimLinkSql" parameterType="map" resultType="string">
		select t.dim_sql_expr from upp_dim_source t where t.dim_cd = #{dimcode}
	</select>
	
	<select id="getDimLinkForTree" parameterType="map" resultType="map">
		select t.* from upp_dim_source t where t.dim_cd = #{dimcode}
	</select>
	
	<!-- 组装主界面查询列表sql -->
	<select id="getMetaLinkJoinSql" parameterType="map" resultType="map">
		<!-- select e.column_name,
       ' left join (' || c.dim_sql_expr || ') xd' || rownum || ' on t.' ||
        e.column_name || '=' || 'xd' || rownum || '.' || c.code_col_name as joinSql,
       'xd' || rownum || '.' || c.label_col_name || ' as ' as joinCondition -->
        select e.column_name, CONCAT(' left join (' , c.dim_sql_expr , ') xd',e.rownum , ' on t.' , e.column_name , '=' , 'xd',e.rownum , '.' , c.code_col_name )as joinSql,
         CONCAT('xd',e.rownum ,  '.' , c.label_col_name ,' as ') as joinCondition 
       
			    from upp_metadata a 
					left join upp_page_field b on a.metadata_id = b.field_id
			    inner join upp_dim_source c on c.dim_cd = b.dim_cd
          left join upp_dic_fn_rela d on d.metadata_id=b.field_id
          left join upp_column e on e.column_id = d.db_obj_id
			    where a.status_cd = '02' and a.prt_metadata_id in 
		    	(select c.metadata_id from upp_metadata c 
		           inner join upp_tmpl_page d on c.prt_metadata_id=d.page_element_id 
		           where d.tmpl_id = #{tmpl_id} and c.md_cate_cd='FDL'  and d.is_curr_version = 'Y')

	</select>
	
	
	<!-- 查询excel sheet 映射的表 -->
	<select id="getSheetMappingTab" parameterType="map" resultType="map">
		select * from upp_table a 
		left join upp_dic_fn_rela b on a.table_id=b.db_obj_id
		where b.metadata_id=#{sheet_id}
	</select>
	
	<!-- 取工具条按钮 -->
	<select id="getTBA" parameterType="map" resultType="map">
	 select a.metadata_id,
	       a.prt_metadata_id,
	       a.metadata_name,
	       a.status_cd,
	       a.is_display,
	       a.display_order,
	       b.*
	  from upp_metadata a
	  left join upp_page_button b
	    on a.metadata_id = b.button_id
	 where a.status_cd = '02'
	   and a.prt_metadata_id in
	       (select c.metadata_id
	          from upp_metadata c
	         where c.prt_metadata_id = #{page_element_id}
	           and c.md_cate_cd = 'TBA')
	 order by a.display_order
	</select>
	
	<!-- 取button的配置信息 -->
	<select id="getButtonByTmplId" parameterType="map" resultType="map">
	 select b.*
	  from upp_metadata a
	  left join upp_page_button b
	    on a.metadata_id = b.button_id
	 where a.status_cd = '02'
	   and a.prt_metadata_id in
	       (select c.metadata_id
	        from upp_metadata c
	        where c.prt_metadata_id = (select c.page_element_id from upp_tmpl_page c where c.tmpl_id = #{tmpl_id})
	        and c.md_cate_cd = 'TBA')
	 <if test="button_func_cd !=null and button_func_cd !=''">
		 and b.button_func_cd = #{button_func_cd}
	 </if>
	 order by a.display_order
	</select>
	
	<select id="getFDL" parameterType="map" resultType="map">
      select a.metadata_id,a.prt_metadata_id,a.metadata_name,
      a.status_cd,a.is_display,a.display_order,b.* ,c.code_col_name column_code,c.label_col_name column_label,
      g.column_id,g.column_name,g.data_type_cd
      from upp_metadata a 
      left join upp_page_field b on a.metadata_id = b.field_id
      left join upp_dim_source c on c.dim_cd = b.dim_cd
      left join upp_metadata d on d.metadata_id=a.prt_metadata_id
      left join upp_dic_fn_rela f on f.metadata_id = a.metadata_id
      left join upp_column g on g.column_id=f.db_obj_id
      where d.prt_metadata_id = #{page_element_id} and d.md_cate_cd='FDL' and a.status_cd='02'
	    <if test="query_hidden =='Y'.toString()">
			and  b.component_type_id ='hidden'
		</if>
		<if test="query_hidden =='N'.toString()">
			and  b.component_type_id !='hidden'
		</if>		
	      order by a.display_order
	</select>
	
	<select id="getFDLByTmplId" parameterType="map" resultType="map">
      select a.metadata_id,a.prt_metadata_id,a.metadata_name,
      a.status_cd,a.is_display,a.display_order,b.* ,c.code_col_name column_code,c.label_col_name column_label,
      g.column_id,g.column_name,g.data_type_cd
      from upp_metadata a 
      left join upp_page_field b on a.metadata_id = b.field_id
      left join upp_dim_source c on c.dim_cd = b.dim_cd
      left join upp_metadata d on d.metadata_id=a.prt_metadata_id
      left join upp_tmpl_page e on e.page_element_id=d.prt_metadata_id and e.is_curr_version='Y'
      left join upp_dic_fn_rela f on f.metadata_id = a.metadata_id
      left join upp_column g on g.column_id=f.db_obj_id
      where e.tmpl_id = #{tmpl_id} and d.md_cate_cd='FDL' and a.status_cd='02' 
	    <if test="query_hidden =='Y'.toString()">
			and  b.component_type_id ='hidden'
		</if>
		<if test="query_hidden =='N'.toString()">
			and  b.component_type_id !='hidden'
		</if>		
	      order by a.display_order
	</select>
	
	<!-- 查询隐藏域默认值 -->
	<select id="getHiddenDefaultValue" parameterType="map" resultType="map">
      select 
	      b.field_id||'_'||b.field_name as field_id,
	      b.field_name,
	      b.default_value,
	      g.column_name,
	      g.data_type_cd
      from 
	      upp_page_field b,
	      upp_metadata a 
	      left join upp_dic_fn_rela f on f.metadata_id = a.metadata_id
	      left join upp_column g on g.column_id=f.db_obj_id,
	      upp_metadata d,
	      upp_tmpl_page e 
      where  a.metadata_id = b.field_id
	      and a.prt_metadata_id = d.metadata_id
	      and d.prt_metadata_id = e.page_element_id and e.is_curr_version = 'Y'
	      and e.tmpl_id = #{tmpl_id}
	      and d.md_cate_cd='FDL' 
	      and a.status_cd='02' 
	      and b.component_type_id ='hidden'
	      and b.default_value is not null 
	</select>
	
	<select id="getFML" parameterType="map" resultType="map">
      	select a.metadata_id,a.prt_metadata_id,a.metadata_name,a.status_cd,a.md_cate_cd,
		a.is_display,a.display_order from upp_metadata a 
		where a.status_cd = '02'  and a.md_cate_cd='FRM' and a.metadata_id in 
	   (select c.metadata_id from upp_metadata c 
        where c.prt_metadata_id =  #{page_element_id}) order by a.display_order
	</select>
	
	<!-- 查询表单下按钮 -->
	<select id="getFRM" parameterType="map" resultType="map">
	 select a.metadata_id,
	       a.prt_metadata_id,
	       a.metadata_name,
	       a.status_cd,
	       a.is_display,
	       a.display_order,
	       b.*
	  from upp_metadata a
	  left join upp_page_button b
	    on a.metadata_id = b.button_id
	 where a.status_cd = '02'
	   and a.prt_metadata_id = #{metadata_id}
	 order by a.display_order
	</select>
	
	<!-- 查询字段分类 -->
	<select id="getcolBizTypes" parameterType="map" resultType="map">
		select * from upp_col_biz_type 
		where upp_rela_id='public_table'
		<if test="table_id != null and table_id !=''">
			or upp_rela_id = #{table_id}
		</if>
		order by display_order
	</select>
	
	<!-- 查询子模版 -->
	<select id="getChildTempl" parameterType="map" resultType="map">
	    select 'parent' type,
			 a.tmpl_id,
			 a.prt_tmpl_id,
			 a.template_name,
			 a.template_type_cd,
			 a.enter_type_cd,
			 a.rela_metadata_names,
			 d.table_id,
			 d.table_name,
			 d.table_data_source,
			 b.page_element_id,
			 a.display_order,
			 e.flow_tmpl_id
	      from upp_template a
	        inner join upp_tmpl_page b on a.tmpl_id=b.tmpl_id and b.is_curr_version = 'Y'
	        inner join upp_dic_fn_rela c on b.page_element_id = c.metadata_id
	        inner join upp_table d on c.db_obj_id = d.table_id
	        left  join upp_tmpl_flow e on e.tmpl_id = a.tmpl_id
	     where a.tmpl_id = #{tmpl_id}
	     union all
  		 select 'child' type,
           a.tmpl_id,
           a.prt_tmpl_id,
           a.template_name,
           a.template_type_cd,
           a.enter_type_cd,
           a.rela_metadata_names,
           d.table_id,
           d.table_name,
           d.table_data_source,
           b.page_element_id,
		   a.display_order,
           e.flow_tmpl_id
	      from upp_template a
	        inner join upp_tmpl_page b on a.tmpl_id=b.tmpl_id and b.is_curr_version = 'Y'
	        inner join upp_dic_fn_rela c on b.page_element_id = c.metadata_id
	        inner join upp_table d on c.db_obj_id = d.table_id
	        left  join upp_tmpl_flow e on e.tmpl_id = a.tmpl_id
	     where prt_tmpl_id = #{tmpl_id}
	     order by display_order 
    </select>
    
    <select id="getWorkFlowById" parameterType="map" resultType="map">
		select * from upp_tmpl_flow t where t.tmpl_id = #{templateId}
	</select>
    
    <!-- 按ID获取sheet -->	
	<select id="getSheetListById" parameterType="map" resultType="map">
		select * from upp_metadata a 
		left join upp_xls_sheet b on a.metadata_id=b.sheet_id
		where a.prt_metadata_id = #{metadata_id}
	</select>
	<!-- 获取sheet配置的excel列 -->
	<select id="getExcelCol" parameterType="map" resultType="map">
		select a.metadata_id,
		       a.prt_metadata_id,
		       a.metadata_name,
		       a.status_cd,
		       a.is_display,
		       b.*,
		       d.*
		  from upp_metadata a
		  left join upp_xls_column b
		    on a.metadata_id = b.xls_col_id
		 inner join upp_dic_fn_rela c
		    on c.metadata_id = b.xls_col_id
		 inner join upp_column d
		    on d.column_id = c.db_obj_id
		 where a.prt_metadata_id = #{sheet_id}
		 order by b.display_order
	</select>
	
	<select id="getExcelColByName" parameterType="map" resultType="map">
			select * from upp_xls_column a 
		    left join upp_metadata b on b.metadata_id=a.xls_col_id
		    left join upp_xls_sheet d on d.sheet_id = b.prt_metadata_id
		      left join upp_dic_fn_rela e on e.metadata_id=a.xls_col_id
		      left join upp_column f on f.column_id=e.db_obj_id
		      left join upp_metadata g on g.metadata_id=d.sheet_id
		      where d.sheet_name = #{sheet_name} and g.prt_metadata_id = #{metadata_id}
		      order by a.display_order
	</select>
	<select id="getExcelSheetByName" parameterType="map" resultType="map">
		select * from upp_xls_sheet a 
		left join upp_dic_fn_rela b on a.sheet_id=b.metadata_id
		left join upp_table c on b.db_obj_id = c.table_id
		where a.sheet_name =  #{sheet_name}
	</select>
	<select id="getPAG" parameterType="map" resultType="map">
		select * from upp_tmpl_page a
		left join upp_dic_fn_rela b on a.page_element_id=b.metadata_id
		left join upp_table c on c.table_id = b.db_obj_id
		where a.tmpl_id = #{tmpl_id} and a.is_curr_version='Y'
	</select>
	<select id="getColRelaField" parameterType="map" resultType="map">
		select a.field_id,a.field_name,c.column_id,c.column_name from upp_page_field a
		inner join upp_dic_fn_rela b on a.field_id=b.metadata_id
		inner join upp_column c on c.column_id = b.db_obj_id
		inner join upp_metadata d on d.metadata_id = a.field_id
		inner join upp_metadata e on e.metadata_id = d.prt_metadata_id  
		inner join upp_tmpl_page f on f.page_element_id = e.prt_metadata_id  and f.is_curr_version='Y'
		inner join upp_metadata g on g.metadata_id =c.column_id 
		inner join upp_dic_fn_rela i on i.metadata_id=e.prt_metadata_id and i.db_obj_id=g.prt_metadata_id
		where lower(c.column_name)=#{rela_name} and tmpl_id=#{tmpl_id}
	</select>
	<select id="getPrtColRelaField" parameterType="map" resultType="map">
		select a.field_id,a.field_name,c.column_id,c.column_name from upp_page_field a
		inner join upp_dic_fn_rela b on a.field_id=b.metadata_id
		inner join upp_column c on c.column_id = b.db_obj_id
		inner join upp_metadata d on d.metadata_id = a.field_id
		inner join upp_metadata e on e.metadata_id = d.prt_metadata_id   
		inner join upp_tmpl_page f on f.page_element_id = e.prt_metadata_id  and f.is_curr_version='Y'
		inner join upp_metadata g on g.metadata_id =c.column_id 
		inner join upp_dic_fn_rela i on i.metadata_id=e.prt_metadata_id and i.db_obj_id=g.prt_metadata_id
		where lower(c.column_name)=#{rela_name} and tmpl_id=#{prt_tmpl_id}
	</select>
	
	<!-- 模版元数据 -->
	<sql id="templateRelyMeta">
		 select f.field_id      as metadata_id,
		       f.field_name    as metadata_name,
		       f.default_value
		  from upp_page_field f, upp_metadata a, upp_metadata u, upp_tmpl_page d
		 where f.field_id = a.metadata_id
		   and f.component_type_id != 'hidden'
		   and a.prt_metadata_id = u.metadata_id
		   and u.prt_metadata_id = d.page_element_id
		   and u.md_cate_cd = 'FDL'
		   and d.tmpl_id = #{templateId}
		   and d.is_curr_version = 'Y'
		 order by f.display_order
	</sql>
	
	<!-- 按模版查询模版关联的元数据 -->
	<select id="getTemplateMetaInfo" parameterType="string" resultType="map">
		<include refid="templateRelyMeta"/>
	</select>
	
	<!-- 获取模版有默认值的hidden字段 -->
	<select id="getTemplateMetaHideInfo" parameterType="string" resultType="map">
	 select f.field_id      as metadata_id,
	       f.field_name    as metadata_name,
	       f.default_value
	  from upp_page_field f, upp_metadata a, upp_metadata u, upp_tmpl_page d
	 where f.field_id = a.metadata_id
	   and f.component_type_id = 'hidden'
	   and f.DEFAULT_VALUE is not null
	   and a.prt_metadata_id = u.metadata_id
	   and u.prt_metadata_id = d.page_element_id
	   and u.md_cate_cd = 'FDL'
	   and d.tmpl_id = #{templateId}
	   and d.is_curr_version = 'Y'
	   order by f.display_order asc
	</select>
	
	<!-- 取审批提交时选中的账户 -->
	<select id="getSubmitAccts"  parameterType="map" resultType="map">
		select t.* from ${tableName} t  where business_no in ('${businessNos}') 
	</select>
	<!-- 修改数据状态 -->
	<update id="updateStatus" parameterType="map">
		update ${tableName} t set t.flow_status_code = #{status} where t.business_no in ('${businessNos}')
	</update>
	<!-- 字段类型 -->
	<select id="getFieldType"  parameterType="map" resultType="map">
		select component_type_id from upp_page_field where field_id = #{metadata_id} 
	</select>


	<select id="getFlowDataCountsByTplId"  parameterType="String" resultType="int">
		  select count(1) as cnt from upp_tmpl_flow where tmpl_id=#{tmpId}
	</select>

</mapper>