<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="common">

	<!-- 分页查询数据Sql头 -->
	<sql id="pagingHead">
		<if test="start !=null and limit != null">
			<!-- WITH T1 AS ( -->
			
			select e.* from (
		
		</if>
	</sql>
	
	<!-- 分页查询数据Sql尾 -->
	<sql id="pagingEnd">
		<if test="start !=null and limit != null">
			<!-- ),T2 AS (SELECT ROWNUM AS FRAMEWORKROWNUM, T1.* FROM T1)
			SELECT * FROM T2 WHERE FRAMEWORKROWNUM BETWEEN (#{start}+1) AND (#{start}+#{limit}) -->
			) e limit #{start},#{limit};
		</if>
	</sql>
	
	<!-- 分页查询数据Sql头 -->
	<sql id="pageDataHead">
		select * from (select rownum as frameworkRownum, t1.* from (
	</sql>
	
	<!-- 分页查询数据Sql尾 -->
	<sql id="pageDataEnd">
		<![CDATA[
			) t1) where frameworkRownum between #{start} and #{endrow}
		]]>
	</sql>
	
	<!-- 查询总数Sql头 -->
	<sql id="totalCountHead">
		select count(*)  from (
	</sql>
	
	<!-- 查询总数Sql头尾-->
	<sql id="totalCountEnd">
		) total
	</sql>
	
</mapper>