<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.shuhao.clean.apps.meta.dao.ColumnDao">
	
	<!-- 添加数据库列对象 -->
	<insert id="addColumn" parameterType="UppTableColumn">
		insert into upp_column (
			column_id,
			column_name,
			column_desc,
			data_type_cd,
			data_length,
			data_scale,
			is_pk,
			is_nullable
		) values (
			#{column_id},
			#{column_name},
			#{column_desc jdbcType=VARCHAR},
			#{data_type_cd},
			#{data_length},
			#{data_scale jdbcType=INTEGER},
			#{is_pk},
			#{is_nullable}
		)
	</insert>
	
	
	<!-- 根据id获取表的列对象 -->
	<select id="getColumnById" parameterType="string" resultType="UppTableColumn">
		select 
			a.column_id,
			a.column_name,
			a.column_desc,
			a.data_type_cd,
			a.data_length,
			a.data_scale,
			a.is_pk,
			a.is_nullable,
			a.obj_status_cd
		from upp_column a
		where a.column_id = #{column_id}
	</select>
	
	
	<!-- 保存表的列字段信息 -->
	<update id="saveColumn" parameterType="UppTableColumn">
		update 
			upp_column a
		set
			a.column_name = #{column_name},
			a.column_desc = #{column_desc jdbcType=VARCHAR},
			a.data_type_cd = #{data_type_cd},
			a.data_length = #{data_length},
			a.data_scale = #{data_scale  jdbcType=DECIMAL},
			a.is_pk = #{is_pk},
			a.is_nullable = #{is_nullable}
		where a.column_id = #{column_id}
	</update>
	
	<!-- 更新排序 -->
	<update id="updateColumnOrder" parameterType="map">
		update 
			upp_metadata a
		set
		   a.display_order = #{display_order}
		where a.metadata_id = #{metadata_id}
	</update>
	
	<!-- 删除标的列字段信息 -->
	<delete id="deleteColumn" parameterType="string">
		delete from upp_column  where column_id = #{column_id}
	</delete>
	
	<!-- 查询表对象下面的字段列表 -->
	<select id="listTableColumns" parameterType="string" resultType="UppTableColumn">
		select 
			a.column_id,
			a.column_name,
			a.column_desc,
			a.data_type_cd,
			a.data_length,
			a.data_scale,
			a.is_pk,
			a.is_nullable,
			a.obj_status_cd,
			b.display_order
		from upp_column a, upp_metadata b
		where a.column_id = b.metadata_id
			and b.prt_metadata_id = #{table_id}
		order by b.display_order
	</select>
	
	<!-- 根据表id删除表下面的所有列 -->
	<delete id="deleteColumnByTableId" parameterType="string">
		delete from upp_column a where exists (
			select 1 from upp_metadata m 
			where a.column_id = m.metadata_id
				and m.prt_metadata_id = #{table_id}
		)
	</delete>
	
	<!-- 根据元数据关系查询标的列字段列表 -->
	<select id="listTableColumnByRela" parameterType="string" resultType="UppTableColumn">
		select 
			a.column_id,
			a.column_name,
			a.column_desc,
			a.data_type_cd,
			a.data_length,
			a.data_scale,
			a.is_pk,
			a.is_nullable,
			a.obj_status_cd
		from upp_column a, upp_metadata b, upp_dic_fn_rela c
		where a.column_id = b.metadata_id
			and b.prt_metadata_id = c.db_obj_id
			and c.metadata_id = #{rela_id}
	</select>
</mapper>