<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.shuhao.clean.apps.meta.dao.TableDao">
	
	<!-- 添加数据库表 -->
	<insert id="addTable" parameterType="UppTable">
		insert into upp_table (
			table_id,
			table_name,
			table_desc
		) values (
			#{table_id},
			#{table_name},
			#{table_desc}
		)
	</insert>
	
	
	<!-- 根据id获取数据库表对象 -->
	<select id="getTableById" parameterType="string" resultType="UppTable">
		select 
			a.table_id,
			a.table_name,
			a.table_desc
		from upp_table a
		where a.table_id = #{table_id}
	</select>
	
	
	<!-- 保存数据库表对象 -->
	<update id="saveTable" parameterType="UppTable">
		update 
			upp_table a
		set
			a.table_name = #{table_name},
			a.table_desc = #{table_desc}
		where a.table_id = #{table_id}
	</update>
	
	<!-- 删除表对象 -->
	<delete id="deleteTable" parameterType="string">
		delete from upp_table a where a.table_id = #{table_id}
	</delete>
	
	<!-- 删除表关联的类型 -->
	<delete id="deleteTableColType" parameterType="string">
		delete from upp_col_biz_type t where t.upp_rela_id = #{table_id}
	</delete>
	
</mapper>