<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.shuhao.clean.apps.meta.dao.ThemeDao">
	
	
	<!-- 添加主题 -->
	<insert id="addTheme" parameterType="UppTheme">
		insert into upp_biz_theme (
			theme_id,
			theme_name,
			theme_desc,
			status_cd
		) values (
			#{theme_id},
			#{theme_name},
			#{theme_desc},
			#{status_cd}
		)
	</insert>
	
	<!-- 根据id获取主题对象 -->
	<select id="getThemeById" parameterType="string" resultType="UppTheme">
		select
			a.theme_id,
			a.theme_name,
			a.theme_desc,
			a.status_cd
		from upp_biz_theme a
		where a.theme_id = #{theme_id}
	</select>
	
	
	<!-- 保存主题对象 -->
	<update id="saveTheme" parameterType="UppTheme">
		update 
			upp_biz_theme a
		set
			a.theme_name = #{theme_name},
			a.theme_desc = #{theme_desc}
		where a.theme_id = #{theme_id}
	</update>
	
	<!-- 删除主题 -->
	<delete id="deleteTheme" parameterType="string">
		delete from upp_biz_theme a where a.theme_id = #{theme_id}
	</delete>
	
</mapper>