<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.shuhao.clean.apps.meta.dao.UppMetadataDao">
	
	<insert id="addThemeMeta" parameterType="UppMetadata">
		insert into upp_metadata(metadata_id,parent_metadata_id,metadata_name,metadata_cate_code,status_code,create_user_id,
				create_time,update_user_id,update_time,display_order,metadata_desc)
		values(
			#{metadata_id},#{parent_metadata_id},
			#{metadata_name},#{metadata_cate_code},
			#{status_code},#{create_user_id},
			now(),null,
			null,#{display_order},#{metadata_desc}
		)
	</insert>
	
	<delete id="delThemeMeta" parameterType="UppMetadata">
		 delete from upp_metadata  where metadata_id=#{metadata_id}
	</delete>
	
	<update id="updateThemeMeta" parameterType="UppMetadata">
		update upp_metadata t
		   set t.metadata_name  = #{metadata_name},
		       t.status_code    = #{status_code},
		       t.update_user_id = #{update_user_id},
		       t.update_time    = now(),
		       t.metadata_desc	= #{metadata_desc},
		       <if test="parent_metadata_id!=null and parent_metadata_id!=''">
		       		t.parent_metadata_id=#{parent_metadata_id},
		       </if>
		       t.display_order  = #{display_order}
		 where t.metadata_id = #{metadata_id}
	</update>
	
	<insert id="addMetadataList" parameterType="java.util.List">
		insert into upp_metadata(metadata_id,parent_metadata_id,metadata_name,metadata_cate_code,status_code,create_user_id,
				create_time,update_user_id,update_time,display_order,metadata_desc)
		
		<foreach collection="list" item="item" index="index" separator="union all">  
	    	select #{item.metadata_id},#{item.parent_metadata_id},#{item.metadata_name},#{item.metadata_cate_code},
	    		#{item.status_code},#{item.create_user_id},now(),null,null,#{item.display_order},#{item.metadata_desc} from dual
		</foreach>
		
	</insert>
	
	<delete id="delMetadataList" parameterType="java.util.List">
		delete from upp_metadata  where metadata_id in 
		<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
    		#{item.metadata_id}
    	</foreach>
	</delete>
	
	<delete id="delMetadataByParentId" statementType="CALLABLE" parameterType="UppMetadata">
		<![CDATA[{call drop_metadata_cascade(#{metadata_id})}]]>
	</delete>
	
	<select id="getMetadataById" parameterType="UppMetadata" resultType="map">
		select * from upp_metadata where metadata_id=#{metadata_id}
	</select>
</mapper>