<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shuhao.clean.apps.sys.dao.LoginDao">
	<!-- 获取系统时间 -->
	<select id="getSysDate" resultType="string">
		<!-- select to_char(date_id,'yyyy-mm-dd') date_id from dmd_date
		 -->
		<!--  select date_format(date_id,'%Y-%m-%d') date_id from dmd_date -->
		 select curdate()
	</select>
	
	<!-- 获取当前月 -->
	<select id="getCurrentMonth" resultType="string">
		<!-- select month_id from dmd_month where rownum =1  order by month_id desc -->
		select month_id from dmd_month order by month_id desc limit 1 
	</select>
</mapper>