<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.shuhao.clean.apps.meta.dao.AlterTableDao">
	
	<!-- 根据目标类型查询允许的上级类型 -->
	<select id="queryAllowParentList" resultType="string">
		select 
			a.prt_md_cate_cd
		from upp_metadata_rela_def a
		where a.md_cate_cd in
		<foreach collection="array" item="md_cate_cd" open="(" separator="," close=")">
			#{md_cate_cd}
		</foreach>
	</select>
</mapper>